@font-face {
    font-family: 'seascaperegular';
    src: url('font/seascape-webfont.woff2') format('woff2'),
         url('font/seascape-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'seascaperegular';
}